@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "ttlakes";
  src: url("fonts/TTLakes-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0px;
}

.container {
  font-family: "ttlakes";
  width: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
}
button {
  font-family: "ttlakes";
}
.header {
  display: flex;
  height: 88px;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 6px rgba(65, 246, 215, 0.1);
}
.header__item,
.header__logo {
  margin-left: 10px;
}
.header__item-768 {
  display: none;
}
.header__divider {
  margin: 0px 5px;
}
.header-button {
  border: none;
  background: none;
  cursor: pointer;
}
.header__rightside {
  display: flex;
  margin-left: auto;
  align-items: center;
}
main {
  background-color: white;
}
.main__1120 {
  display: none;
}
.main__title {
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.main__bar {
  height: 40px;
  width: 4px;
  background-color: #41f6d7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main__text {
  margin-left: 8px;
  font-size: 28px;
}
.main__scrollbar {
  width: auto;
  height: 40px;
  margin: 0px 20px;

  gap: 5px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}
.main__scrollbar::-webkit-scrollbar {
  display: none;
}
.main__scroll-item {
  font-weight: 300;
  opacity: 0.8;
  width: 246px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  background-color: white;
}
.main__scroll-item:focus,
.main__scroll-item:active {
  border: 2px solid #b8ffec;
  border-radius: 10px;
}
.main__content {
  font-size: 14px;
  font-weight: 300;
  margin: 24px 16px 0px 16px;
  height: fit-content;
}
.main__content-extra {
  display: none;
}
.main__content-1120 {
  display: none;
}
.main__more {
  margin: 0px 0px 10px 0px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}
.main__more button {
  border: 1px solid white;
  background-color: white;
}
.main__more button:active {
  background-color: #b1bfbd22;
}
.main__img {
  margin: 0px;
  width: 100%;
  max-width: 100%;
}
.main__img img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1119px) {
  .header__item-768 {
    display: inline-block;
    margin: 0px 4px;
  }

  .header__divider {
    margin: 0px 5px 0px 10px;
  }
  .main__container {
    margin: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px;
  }

  .main__content {
    margin-bottom: 0px;
    height: fit-content;
  }
  .main__content-extra {
    display: inline;
  }
  .main__img {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .main__img img {
    border-radius: 6px;
  }
  .main__more {
    grid-column: 1/1;
    align-self: start;
    margin-top: 8px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .main__content-extra {
    display: inline;
  }
  .main__content-1120 {
    display: inline;
  }
  .button-1120 {
    border: none;
    background-color: white;
  }
  .button-1120:active {
    background-color: #b1bfbd22;
  }
  .main__1120 {
    display: flex;
    gap: 20px;
  }
  .main__icons_1120 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .main__text {
    flex-grow: 1;
  }
  .main__container {
    margin: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .main__content {
    margin-bottom: 0px;
    height: fit-content;
    max-width: 600px;
    font-size: 16px;
  }
  .main__img {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .main__img img {
    border-radius: 6px;
  }
  .main__more {
    grid-column: 1/1;
    align-self: start;
  }
}
